.typewriter-container {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
  }
  
  .buttons-container {
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }
  
  .button {
    font-size: 18px;
    padding: 10px 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #e30303;
    color: #fcfcfc;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
  }