.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 10s linear forwards;
}
  
@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw); 
    }
    to {
        transform: translateY(105vh) translateX(10vw); 
    }
}

.celebration-container {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}